.product{
    margin-top: 20px;
 background-color: rgb(219, 169, 103);   
}
.product1{
    margin-top: 50px;
 background-color: aqua;  
 margin-bottom: 20px; 
}
.product2{
   background-color: brown; 
   margin-top:5px;
}